html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#root{
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'XP Tahoma';
  src: url('./windows-xp-tahoma.ttf');
}

* {
  font-family: 'XP Tahoma';
}
div,p,button,span,textarea,input{
  font-size: 20px;
}

.work-area {
  flex-grow: 1;
  position: relative;
  z-index: 0;
  padding: 10px;
}

.floating-app-space {
  /* position: relative; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 80px);
  /* gap: 10px 10px; */
  width: 100%;
  height: 100%;

  .floating-app {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    margin: auto;
    /* overflow: hidden; */

    .floating-app-icon {
      width: 35px;
      height: 35px;
    }

    .floating-app-label {
      text-align: center;
      color: white;
      text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    }
  }

  .floating-app:hover {
    background-color: rgba(65, 105, 225, 0.3)
  }
}

.window-container {
  position: absolute;
}

.window {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: royalblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* width: 300px;
  height: 200px; */
}

.window-header {
  color: white;
  cursor: move;
  display: flex;
  flex-direction: row;
  /* background-color: darkroyalblue; */

  .window-name {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* background-color: lightroyalblue; */
    .window-icon {
      width: 17px;
      height: 17px;
      margin: 3px;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 25px;
    height: 25px;
  }

  .window-button {
    background-color: royalblue;
  }

  .window-close-button {
    background-color: red;
  }
}

.window-main {
  width: auto;
  flex-grow: 1;
  background-color: white;
  margin: 5px;
  overflow: auto;
}

.taskbar {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: royalblue;
  width: 100%;
  height: 30px;

  .taskbar-start-menu {
    .taskbar-start {
      /* height:100% cause bug on phone */
      height: 30px;
      width: 90px;
    }

    .taskbar-menu {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      background-color: royalblue;

      .taskbar-menu-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;

        .taskbar-menu-user-icon {
          border: 3px solid white;
          height: 48px;
          width: 48px;
        }

        .taskbar-menu-user-name {
          color: white;
          margin: 5px;
        }
      }

      .taskbar-menu-list {
        overflow-y: auto;
        background-color: white;
        margin: 2px;
        padding: 2px;

        .taskbar-menu-item {
          display: flex;
          flex-direction: row;
          gap: 5px;
          padding: 10px;

          .taskbar-menu-item-label {
            margin: 0;
          }

          .taskbar-menu-item-icon {
            width: 30px;
            height: 30px;
          }
        }

        .taskbar-menu-item:hover {
          background-color: lightgray;
        }

        .taskbar-all-programs {
          .taskbar-all-programs-list {
            display: none;
            position: absolute;
            left: 100%;
            margin-left: -3px;
            padding: 2px;
            bottom: 0;
            background-color: white;
            border: 2px solid royalblue;
          }
        }

        .taskbar-all-programs:hover {
          .taskbar-all-programs-list {
            display: block;
          }
        }
      }
    }
  }

  .taskbar-start-menu:hover {
    .taskbar-menu {
      display: block;
    }
  }


  .taskbar-window-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    .taskbar-window {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      color: white;
      background-color: royalblue;

      .taskbar-window-icon {
        width: 17px;
        height: 17px;
      }
    }
  }
}





.deck {
  /* position: relative; */

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  background-color: darkcyan;
  width: fit-content;
  height: fit-content;
  /* border-top: 50vh solid black; */
  margin: 20px;
  /* padding-left: 50px; */
}

.card-container {
  position: relative;
  /* background-color: white;
  border: solid royalblue; */
  margin-right: -50px;

  transform: rotateX(35deg) rotateY(35deg);
  transition: 200ms;
}

.card-container:last-child {
  margin-right: 0;
}

.card-click-area {
  position: absolute;
  /* background-color: green; */
  width: 100%;
  height: 100%;

  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  /* align-items: end; */

  color: white;
  background-color: red;
  box-shadow: 0 0 20px black;
  width: 100px;
  max-height: 100px;

  transition: 1000ms, width 0ms;

  h1 {
    align-self: flex-end;
    margin: 0;
    margin-right: 10px;
  }

  .card-description {
    /* background-color: inherit; */
    overflow: hidden;
    /* transition: height 1000ms; */
  }
}

.card-container:hover {
  transform: none;

  .card {
    max-height: 100vh;
    margin-top: 50px;
    color: black;
    background-color: yellow;
  }
}

@keyframes spinY {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.card-clicked {
  animation: spinY 1000ms 1;

  .card {
    background-color: green;
  }
}

.test {
  .card {

    background-color: royalblue;
  }
}

/* .card-clicked {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  transform: none;
  transition: 0ms;
  pointer-events: none;

  .card-click-area {
    display: none;
  }

  .card {
    background-color: royalblue;
    width: 100%;
    height: auto;
  }
} */

.contact-main{
  /* display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 600px);
  grid-template-rows: repeat(auto-fill, auto);
  width: 100%;
  height: 100%; */
  display:flex;
  flex-direction:row;
  gap: 50px;
}
.contact-info-container{
  flex: 1;
  max-width:fit-content;
}
.contact-form-container{
  flex: 1;
  max-width:400px;
}
.contact-form{
  width:auto;
  margin:10px;
  display:flex;
  flex-direction:column;
  gap:5px;
}